<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="wrist_left_model"  default="wrist-2017"/>
  <arg name="wrist_right_model"  default="wrist-2017"/>
  <arg name="end_effector_left"/>
  <arg name="end_effector_right"/>
  <arg name="local_joint_control" default="direct_effort_control"/>
  <arg name="controller_pkg_name" default="tiago_dual_controller_configuration"/>
  <arg name="left_arm_ns" default="cartesian_impedance_left_arm"/>
  <arg name="right_arm_ns" default="cartesian_impedance_right_arm"/>

  <rosparam command="load" file="$(find tiago_dual_controller_configuration)/config/cartesian_impedance_left_arm.yaml" />
  <rosparam command="load" file="$(find tiago_dual_controller_configuration)/config/cartesian_impedance_right_arm.yaml" />

  <!-- check what should be the model chains in the respective cartesian impedance control -->
  <arg name="left_model_chains" value="['gripper_left_link']" if="$(eval end_effector_left == 'pal-gripper')"/>
  <arg name="right_model_chains" value="['gripper_right_link']" if="$(eval end_effector_right == 'pal-gripper')"/>
  <arg name="left_model_chains" value="['hand_left_palm_link']" if="$(eval end_effector_left == 'pal-hey5')"/>
  <arg name="right_model_chains" value="['hand_right_palm_link']" if="$(eval end_effector_right == 'pal-hey5')"/>
  <arg name="left_model_chains" value="['gripper_left_base_link']" if="$(eval end_effector_left in ['robotiq-2f-85', 'robotiq-2f-140', 'robotiq-epick'])"/>
  <arg name="right_model_chains" value="['gripper_right_base_link']" if="$(eval end_effector_right in ['robotiq-2f-85', 'robotiq-2f-140', 'robotiq-epick'])"/>

  <rosparam param="/$(arg left_arm_ns)/robot_model_chains" subst_value="True">$(arg left_model_chains)</rosparam>
  <rosparam param="/$(arg right_arm_ns)/robot_model_chains" subst_value="True">$(arg right_model_chains)</rosparam>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg left_arm_ns)"/>
    <arg name="joint_name" value="arm_left_1_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg left_arm_ns)"/>
    <arg name="joint_name" value="arm_left_2_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg left_arm_ns)"/>
    <arg name="joint_name" value="arm_left_3_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg left_arm_ns)"/>
    <arg name="joint_name" value="arm_left_4_joint"/>
  </include>

<group if="$(eval wrist_left_model == 'wrist-2010')">
    <include file="$(find pal_local_joint_control)/launch/no_control.launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg left_arm_ns)"/>
      <arg name="joint_name" value="arm_left_5_joint"/>
    </include>

    <include file="$(find pal_local_joint_control)/launch/no_control.launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg left_arm_ns)"/>
      <arg name="joint_name" value="arm_left_6_joint"/>
    </include>

    <include file="$(find pal_local_joint_control)/launch/no_control.launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg left_arm_ns)"/>
      <arg name="joint_name" value="arm_left_7_joint"/>
    </include>
</group>

<group if="$(eval wrist_left_model == 'wrist-2017')">
    <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg left_arm_ns)"/>
      <arg name="joint_name" value="arm_left_5_joint"/>
    </include>

    <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch"  >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg left_arm_ns)"/>
      <arg name="joint_name" value="arm_left_6_joint"/>
    </include>

    <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg left_arm_ns)"/>
      <arg name="joint_name" value="arm_left_7_joint"/>
    </include>
</group>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg right_arm_ns)"/>
    <arg name="joint_name" value="arm_right_1_joint"/>
  </include>
  
  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg right_arm_ns)"/>
    <arg name="joint_name" value="arm_right_2_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg right_arm_ns)"/>
    <arg name="joint_name" value="arm_right_3_joint"/>
  </include>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg right_arm_ns)"/>
    <arg name="joint_name" value="arm_right_4_joint"/>
  </include>

<group if="$(eval wrist_right_model == 'wrist-2010')">
    <include file="$(find pal_local_joint_control)/launch/no_control.launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg right_arm_ns)"/>
      <arg name="joint_name" value="arm_right_5_joint"/>
    </include>

    <include file="$(find pal_local_joint_control)/launch/no_control.launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg right_arm_ns)"/>
      <arg name="joint_name" value="arm_right_6_joint"/>
    </include>

    <include file="$(find pal_local_joint_control)/launch/no_control.launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg right_arm_ns)"/>
      <arg name="joint_name" value="arm_right_7_joint"/>
    </include>
</group>

<group if="$(eval wrist_right_model == 'wrist-2017')">
    <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg right_arm_ns)"/>
      <arg name="joint_name" value="arm_right_5_joint"/>
    </include>

    <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg right_arm_ns)"/>
      <arg name="joint_name" value="arm_right_6_joint"/>
    </include>

    <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg right_arm_ns)"/>
      <arg name="joint_name" value="arm_right_7_joint"/>
    </include>
</group>

<include file="$(find pal_local_joint_control)/launch/no_control.launch" >
  <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
  <arg name="ns" value="$(arg right_arm_ns)"/>
  <arg name="joint_name" value="torso_lift_joint"/>
</include>

<include file="$(find pal_local_joint_control)/launch/no_control.launch" >
  <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
  <arg name="ns" value="$(arg left_arm_ns)"/>
  <arg name="joint_name" value="torso_lift_joint"/>
</include>

<!-- Launch the action server for left arm -->
<include file="$(find cartesian_impedance)/launch/cartesian_impedance.launch" >
  <arg name="robot" value="tiago_dual"/>
  <arg name="arm_suffix" value="left_arm"/>
</include>

<!-- Launch the action server for right arm -->
<include file="$(find cartesian_impedance)/launch/cartesian_impedance.launch" >
  <arg name="robot" value="tiago_dual"/>
  <arg name="arm_suffix" value="right_arm"/>
</include>

</launch>
