<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="arm_left" default="True"/>
  <arg name="arm_right" default="True"/>
  <arg name="wrist_left_model"  default="wrist-2010"/>
  <arg name="wrist_right_model"  default="wrist-2010"/>
  <arg name="end_effector_left"  default="pal-hey5"/>
  <arg name="end_effector_right"  default="pal-hey5"/>
  <arg name="ft_sensor_left"  default="schunk-ft"/>
  <arg name="ft_sensor_right"  default="schunk-ft"/>
  <arg name="laser_model"  default="sick-571"/>
  <arg name="camera_model"  default="orbbec-astra"/>

    <!-- TODO: parametrize for other mobile base-->
  <!-- Diff drive controller multipliers -->
  <rosparam command="load" file="$(find tiago_dual_controller_configuration)/config/mobile_base_controller_multipliers.yaml"/>

  <!-- Diff drive controller parameters -->
  <rosparam command="load" file="$(find tiago_dual_controller_configuration)/config/mobile_base_controller.yaml"/>

  <!-- Robot model -->
  <include file="$(find tiago_dual_description)/robots/upload.launch">
    <arg name="end_effector_left"  value="$(arg end_effector_left)"/>
    <arg name="end_effector_right"  value="$(arg end_effector_right)"/>
    <arg name="wrist_left_model"  value="$(arg wrist_left_model)"/>
    <arg name="wrist_right_model"  value="$(arg wrist_right_model)"/>
    <arg name="ft_sensor_left"  value="$(arg ft_sensor_left)"/>
    <arg name="ft_sensor_right"  value="$(arg ft_sensor_right)"/>
    <arg name="laser_model"  value="$(arg laser_model)"/>
    <arg name="camera_model"  value="$(arg camera_model)"/>
  </include>

  <!-- tiago_hardware parameters -->
  <arg name="file_suffix" value="$(eval ('no-arm-left' if not arm_left else end_effector_left + ('' if not ft_sensor_left else '_'+ft_sensor_left)) + '_' + ('no-arm-right' if not arm_right else end_effector_right + ('' if not ft_sensor_right else '_'+ft_sensor_right)))"/>
  <rosparam command="load" file="$(find tiago_dual_bringup)/config/tiago_hardware/tiago_dual_hardware_$(arg file_suffix).yaml"/>

  <!-- Node that forwards commands and feedback of dynamixel motors -->
  <include file="$(find tiago_bringup)/launch/dynamixel_node.launch"/>

  <!--[> Bring up robot <]-->
  <include file="$(find tiago_dual_bringup)/launch/tiago_dual_bringup.launch">
    <arg name="end_effector_left"  value="$(arg end_effector_left)"/>
    <arg name="end_effector_right"  value="$(arg end_effector_right)"/>
    <arg name="ft_sensor_left"  value="$(arg ft_sensor_left)"/>
    <arg name="ft_sensor_right"  value="$(arg ft_sensor_right)"/>
    <arg name="laser_model"  value="$(arg laser_model)"/>
    <arg name="camera_model"  value="$(arg camera_model)"/>
  </include>
</launch>
